<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'profiles:home' %}">Digital Textbook Study</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
          <li class="{% if home_active %}active{% endif %}"><a href="{% url 'forums:list' %}"><span class='glyphicon glyphicon-comment'></span> Topics</a></li>
          <li class="{% if lib_active %}active{% endif %}"><a href="{% url 'blog:library:index' %}"><span class='glyphicon glyphicon-book'></span> Library</a></li>
          {% if user.role == 'admin' %}
          <li class="{% if compose_active %}active{% endif %}"><a href="{% url 'blog:manage:create' %}"><span class='glyphicon glyphicon-pencil'></span> Create new topic</a></li>
          {% else %}
          <li class="{% if compose_active %}active{% endif %}"><a href="{% url 'blog:pm:create' %}"><span class='glyphicon glyphicon-envelope'></span> Message the moderator</a></li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
          <form method='get' action="{% url 'search:haystack_search' %}" class='navbar-form' role='form'>
            <div class='form-group'>
              <label class='sr-only' for='q'>Search</label>
              <input name='q' type='search' placeholder='search for article' class='form-control' {% if query %}value='{{ query }}'{% endif %} />
              <input type='hidden' name='models' value='blog.blogpost' />
            </div>
            {# <div class='form-group'> #}
              <button type='submit' class='btn btn-default'><span class='glyphicon glyphicon-search'></span> Search</button>
            {# </div> #}
          </form>
        </li>
        <li><a href="{% url 'profiles:logout' %}"><span class='glyphicon glyphicon-log-out'></span> Logout {{ user.email }}</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
