{% extends 'pages/_pages_base.html' %}

{% block body %}
<p>You agree that you are responsible for your own conduct while using this site. You agree to use the this site only for purposes that are proper and in accordance with the policies or guidelines as described by the moderator.</p>
<p>By way of example, and not as a limitation, you agree that when using this site or its entry, you will:</p>
<ul>
  <li>Be nice to each other and respect the moderator.  The occasional heated debate is fine, but profanity, racism and personal attacks will not be tolerated.  If you see an offensive post, report the message link to the moderator.</li>  
  <li>If you can't get along with someone, don't engage them in a discussion.  Flame baiting will result in thread closure.</li>  
  <li>Remember that there are people of all ages, genders, opinions, nations, creeds, races, and politics will see the result of this study.</li>  
  <li>Everyone is welcome to have their own views, but please respect that others' views may be different.</li>
  <li>Civil discussion is expected at all times.  On this forum, social skills are as important as technical expertise.</li>
</ul>
{% endblock %}