*.pyc
*.swp
local_settings.py
local_s3_settings.py
.idea
*.db
.DS_Store
*.vim
/.settings
/.externalToolBuilders
/.project
/.pydevproject
/.metadata
.Python
.gitignore_global
.buildpath
globalstatic/
/media/
c2/
/templates/corporate-old/
/fontconfig/
*.bak
/devemails/
*.sublime-*
*.log
*-dump.json
*.db-journal
*.sublime-project
*.sublime-workspace
*.scssc
certs/
apps/uttr/static
