{% extends 'forums/_forum_base.html' %}

{% block body %}
  <table class='table'>
    <thead>
      <tr>
        <th>
          Topic
        </th>
        <th>
          Published
        </th>
        <th>
          Responses
        </th>
        <th>
          Latest Post
        </th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
      <tr>
        <td>
          <a href="{% url 'forums:view_by_slug' slug=topic.slug %}">{{ topic.title }}</a>
        </td>
        <td>
          {{ topic.created_at }}
        </td>
        <td>
          {{ topic.reply_length }} repl{% if topic.reply_length > 1%}s{% else %}y{% endif %}
        </td>
        <td>
          {{ topic.latest|safe|truncatewords_html:8 }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
