{% extends 'blog/_blog_base.html' %}

{% block body %}
  <h3>Message the Moderator</h3>
  <form role="form" action="{% url 'blog:pm:create' %}" method='POST'>
    {{ blog_form.media }}
    {% csrf_token %}
    {% for field in blog_form %}
      <div class='form-group'>
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button type='submit' class='btn btn-large btn-success'>
      <span class='glyphicon glyphicon-envelope'></span>
      Send
    </button>
  </form>
{% endblock %}